# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [7]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [2]:
date=pd.date_range(start=pd.datetime(2015,1,1),end=pd.datetime.today())

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [3]:
stocks = ['AAPL', 'TSLA', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

In [8]:
df = web.DataReader(stocks, 'yahoo', pd.datetime(2015,1,1),end=pd.datetime.today())

C:\Anaconda3\lib\site-packages\pandas_datareader\base.py:270: SymbolWarning: Failed to read symbol: 'LNKD', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

### Step 5.  What is the type of structure of df ?

In [15]:
df.shape
type(df)
#df.info()
df.head()

Attributes   Adj Close                                    Close              \
Symbols           AAPL        TSLA         IBM LNKD        AAPL        TSLA
Date
2014-12-31  101.178932  222.410004  127.949593  NaN  110.379997  222.410004
2015-01-02  100.216454  219.309998  129.241516  NaN  109.330002  219.309998
2015-01-05   97.393181  210.089996  127.207932  NaN  106.250000  210.089996
2015-01-06   97.402374  211.279999  124.464600  NaN  106.260002  211.279999
2015-01-07   98.768150  210.949997  123.651100  NaN  107.750000  210.949997

Attributes                         High              ...         Low       \
Symbols            IBM LNKD        AAPL        TSLA  ...         IBM LNKD
Date                                                 ...
2014-12-31  160.440002  NaN  113.129997  225.679993  ...  160.380005  NaN
2015-01-02  162.059998  NaN  111.440002  223.250000  ...  161.000000  NaN
2015-01-05  159.509995  NaN  108.650002  216.500000  ...  159.190002  NaN
2015-01-06  156.070007  NaN  107.430000  214.199997  ...  155.169998  NaN
2015-01-07  155.050003  NaN  108.199997  214.779999  ...  154.029999  NaN

Attributes        Open                                   Volume             \
Symbols           AAPL        TSLA         IBM LNKD        AAPL       TSLA
Date
2014-12-31  112.820000  223.089996  160.410004  NaN  41403400.0  2297500.0
2015-01-02  111.389999  222.869995  161.309998  NaN  53204600.0  4764400.0
2015-01-05  108.290001  214.550003  161.270004  NaN  64285500.0  5368500.0
2015-01-06  106.540001  210.059998  159.669998  NaN  65797100.0  6261900.0
2015-01-07  107.199997  213.350006  157.199997  NaN  40105900.0  2968400.0

Attributes
Symbols           IBM LNKD
Date
2014-12-31  4011900.0  NaN
2015-01-02  5525500.0  NaN
2015-01-05  4880400.0  NaN
2015-01-06  6146700.0  NaN
2015-01-07  4701800.0  NaN

[5 rows x 24 columns]

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [14]:
df.items

<bound method DataFrame.items of Attributes   Adj Close                                    Close              \
Symbols           AAPL        TSLA         IBM LNKD        AAPL        TSLA
Date
2014-12-31  101.178932  222.410004  127.949593  NaN  110.379997  222.410004
2015-01-02  100.216454  219.309998  129.241516  NaN  109.330002  219.309998
2015-01-05   97.393181  210.089996  127.207932  NaN  106.250000  210.089996
2015-01-06   97.402374  211.279999  124.464600  NaN  106.260002  211.279999
2015-01-07   98.768150  210.949997  123.651100  NaN  107.750000  210.949997
...                ...         ...         ...  ...         ...         ...
2020-02-04  318.095062  887.059998  147.569061  NaN  318.850006  887.059998
2020-02-05  320.688934  734.700012  154.714447  NaN  321.450012  734.700012
2020-02-06  324.440002  748.960022  155.139999  NaN  325.209991  748.960022
2020-02-07  320.029999  748.070007  153.410004  NaN  320.029999  748.070007
2020-02-10  321.549988  771.280029  154.429993  NaN  321.549988  771.280029

Attributes                         High              ...         Low       \
Symbols            IBM LNKD        AAPL        TSLA  ...         IBM LNKD
Date                                                 ...
2014-12-31  160.440002  NaN  113.129997  225.679993  ...  160.380005  NaN
2015-01-02  162.059998  NaN  111.440002  223.250000  ...  161.000000  NaN
2015-01-05  159.509995  NaN  108.650002  216.500000  ...  159.190002  NaN
2015-01-06  156.070007  NaN  107.430000  214.199997  ...  155.169998  NaN
2015-01-07  155.050003  NaN  108.199997  214.779999  ...  154.029999  NaN
...                ...  ...         ...         ...  ...         ...  ...
2020-02-04  149.110001  NaN  319.640015  968.989990  ...  146.880005  NaN
2020-02-05  156.330002  NaN  324.760010  845.979980  ...  150.149994  NaN
2020-02-06  156.759995  NaN  325.220001  795.830017  ...  155.419998  NaN
2020-02-07  153.410004  NaN  323.399994  769.750000  ...  152.919998  NaN
2020-02-10  154.429993  NaN  321.549988  819.989990  ...  151.580002  NaN

Attributes        Open                                   Volume              \
Symbols           AAPL        TSLA         IBM LNKD        AAPL        TSLA
Date
2014-12-31  112.820000  223.089996  160.410004  NaN  41403400.0   2297500.0
2015-01-02  111.389999  222.869995  161.309998  NaN  53204600.0   4764400.0
2015-01-05  108.290001  214.550003  161.270004  NaN  64285500.0   5368500.0
2015-01-06  106.540001  210.059998  159.669998  NaN  65797100.0   6261900.0
2015-01-07  107.199997  213.350006  157.199997  NaN  40105900.0   2968400.0
...                ...         ...         ...  ...         ...         ...
2020-02-04  315.309998  882.960022  147.779999  NaN  34154100.0  60938800.0
2020-02-05  323.519989  823.260010  150.210007  NaN  29706700.0  48423800.0
2020-02-06  322.570007  699.919983  156.820007  NaN  26356400.0  39880800.0
2020-02-07  322.369995  730.549988  154.550003  NaN  29357800.0  17041300.0
2020-02-10  314.179993  800.000000  152.970001  NaN  24007949.0  24389618.0

Attributes
Symbols            IBM LNKD
Date
2014-12-31   4011900.0  NaN
2015-01-02   5525500.0  NaN
2015-01-05   4880400.0  NaN
2015-01-06   6146700.0  NaN
2015-01-07   4701800.0  NaN
...                ...  ...
2020-02-04   5621000.0  NaN
2020-02-05  14386800.0  NaN
2020-02-06   8400500.0  NaN
2020-02-07   6414800.0  NaN
2020-02-10   5181895.0  NaN

[1286 rows x 24 columns]>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [16]:
vol = df['Volume']
vol.head()

Symbols           AAPL       TSLA        IBM  LNKD
Date
2014-12-31  41403400.0  2297500.0  4011900.0   NaN
2015-01-02  53204600.0  4764400.0  5525500.0   NaN
2015-01-05  64285500.0  5368500.0  4880400.0   NaN
2015-01-06  65797100.0  6261900.0  6146700.0   NaN
2015-01-07  40105900.0  2968400.0  4701800.0   NaN

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [17]:
vol['week'] = vol.index.week
vol['year'] = vol.index.year
week = vol.groupby(['week','year']).sum()
week.head()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Symbols           AAPL        TSLA         IBM  LNKD
week year
1    2014   41403400.0   2297500.0   4011900.0   0.0
     2015   53204600.0   4764400.0   5525500.0   0.0
     2016  343790200.0  20975400.0  25253600.0   0.0
     2017  103845500.0  28576400.0  11943500.0   0.0
     2018  136171900.0  29713500.0  31378900.0   0.0

### Step 9. Find all the volume traded in the year of 2015

In [21]:
vol[vol['year']==2015].sum().sum()
#or
year = vol.groupby(['year']).sum()
year

Symbols          AAPL          TSLA           IBM  LNKD  week
year
2014     4.140340e+07  2.297500e+06  4.011900e+06   0.0     1
2015     1.306605e+10  1.088218e+09  1.105583e+09   0.0  6886
2016     9.682478e+09  1.162362e+09  1.018606e+09   0.0  6684
2017     6.810776e+09  1.590031e+09  1.071166e+09   0.0  6679
2018     8.539036e+09  2.161639e+09  1.368561e+09   0.0  6633
2019     7.063606e+09  2.308051e+09  9.466746e+08   0.0  6677
2020     9.206719e+08  6.451263e+08  1.621422e+08   0.0   105

### BONUS: Create your own question and answer it.