# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [2]:
baby_names=pd.read_csv('../../../../pandas_exercises_with_data/data/US_Baby_Names_right.csv')

### Step 4. See the first 10 entries

In [3]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [5]:
baby_names.drop(['Unnamed: 0','Id'],axis=1)
baby_names

         Unnamed: 0       Id     Name  Year Gender State  Count
0             11349    11350     Emma  2004      F    AK     62
1             11350    11351  Madison  2004      F    AK     48
2             11351    11352   Hannah  2004      F    AK     46
3             11352    11353    Grace  2004      F    AK     44
4             11353    11354    Emily  2004      F    AK     41
...             ...      ...      ...   ...    ...   ...    ...
1016390     5647421  5647422     Seth  2014      M    WY      5
1016391     5647422  5647423  Spencer  2014      M    WY      5
1016392     5647423  5647424     Tyce  2014      M    WY      5
1016393     5647424  5647425   Victor  2014      M    WY      5
1016394     5647425  5647426   Waylon  2014      M    WY      5

[1016395 rows x 7 columns]

### Step 6. Is there more male or female names in the dataset?

In [6]:
baby_names['Gender'].value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [9]:
del baby_names["Year"]

KeyError: 'Year'

In [12]:
names=baby_names.groupby('Name').sum()
names

         Unnamed: 0         Id  Count
Name
Aaban       7733801    7733803     12
Aadan       7158061    7158065     23
Aadarsh     1728030    1728031      5
Aaden     555052029  555052225   3426
Aadhav       709606     709607      6
...             ...        ...    ...
Zyra       17538998   17539005     42
Zyrah       5487073    5487075     11
Zyren       5074229    5074230      6
Zyria      29787029   29787039     59
Zyriah     34146196   34146205     58

[17632 rows x 3 columns]

### Step 8. How many different names exist in the dataset?

In [13]:
len(names)

17632

### Step 9. What is the name with most occurrences?

In [14]:
names.Count.idxmax()

'Jacob'

### Step 10. How many different names have the least occurrences?

In [15]:
len(names[names.Count == names.Count.min()])

2578

### Step 11. What is the median name occurrence?

In [16]:
names[names.Count == names.Count.median()]

         Unnamed: 0        Id  Count
Name
Aishani     7810519   7810526     49
Alara      18841019  18841027     49
Alysse     22629397  22629405     49
Ameir      21780403  21780411     49
Anely       4349533   4349541     49
...             ...       ...    ...
Sriram      9208196   9208203     49
Trinton    32822294  32822302     49
Vita       10241625  10241632     49
Yoni        6439146   6439154     49
Zuleima     3521366   3521373     49

[66 rows x 3 columns]

### Step 12. What is the standard deviation of names?

In [17]:
names.Count.std()

11006.069467891111

### Step 13. Get a summary with the mean, min, max, std and quartiles.