# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import numpy as np 
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [4]:
raw_data = {'evolution':['Ivysaur','Charmleon','Wartortle','Metapod']
,'hp':[45, 39, 44, 45]
,'name':['Bulbasaur','Charmander','Squirtle','Caterpie']
,'pokedex':['yes', 'no', 'yes', 'no']
,'type':['grass','fire','water','bug']}

### Step 3. Assign it to a variable called

In [6]:
df = pd.DataFrame(raw_data)
df

   evolution  hp        name pokedex   type
0    Ivysaur  45   Bulbasaur     yes  grass
1  Charmleon  39  Charmander      no   fire
2  Wartortle  44    Squirtle     yes  water
3    Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [8]:
df = df.iloc[:, [2, 4, 1, 0, 3]]
df

         name   type  hp  evolution pokedex
0   Bulbasaur  grass  45    Ivysaur     yes
1  Charmander   fire  39  Charmleon      no
2    Squirtle  water  44  Wartortle     yes
3    Caterpie    bug  45    Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [12]:
df['place'] = ['London', 'Tokyo', 'Beijing', 'Shanghai']
df

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         name   type  hp  evolution pokedex     place
0   Bulbasaur  grass  45    Ivysaur     yes    London
1  Charmander   fire  39  Charmleon      no     Tokyo
2    Squirtle  water  44  Wartortle     yes   Beijing
3    Caterpie    bug  45    Metapod      no  Shanghai

### Step 6. Present the type of each column

In [13]:
df.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.